.buttonContainer{
    display: flex;
}
.buttonDelete,
.buttonEdit,
.buttonSave,
.buttonCancel {
    font-size: 2rem;
    cursor: pointer;
}

.buttonDelete {
    color: rgb(221, 0, 0);
}
.buttonEdit{
    color: rgb(231, 152, 4);
}
.buttonSave{
    color: green;
}
.buttonCancel{
    color: red
}