.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(111, 156, 158, 0.322);
}
a{
    display: flex;
    align-items: center;
}
.logo{
    width: 2rem;
    padding: 0.5rem;
    margin-bottom: 0rem;
}