button{
    border: 0;
    padding: 0;
    background-color: transparent;
}

.buttonDelete,
.buttonEdit,
.buttonSave,
.buttonCancel {
    font-size: 2rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

.buttonDelete {
    color: rgb(221, 0, 0);
}
.buttonDelete:hover {
    color: rgb(173, 4, 4);
}
.buttonEdit{
    color: rgb(231, 152, 4);
}
.buttonEdit:hover{
    color: rgb(209, 136, 0);
}
.buttonSave{
    color: green;
}
.buttonSave:hover{
    color: rgb(0, 95, 0);
}

.buttonCancel{
    color: red
}
.buttonCancel:hover{
    color: rgb(173, 4, 4);
}
.error {
	border: 2px solid red;
}

.deleteButtonSave {
    visibility: hidden;
}
p {
    color: #2ab4a4;
    font-size: 0.9rem;
    text-align: center;
    margin: 0.2rem;
}